@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: Avenir;
}

#container-snap::-webkit-scrollbar {
    display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    #container-snap {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    }

.sign-container{
    background-color: white;
    background-image: url('/alt.png');
    background-size: cover;
    background-repeat: no-repeat;
}*

#dropdown-btn:hover #dropdown {
    display: block;
  }